name: Infrastructure Benchmark

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  benchmark:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-13

    - name: Compile Benchmark
      run: |
        g++-13 -std=c++23 benchmark/benchmark.cpp -o benchmark/bench

    - name: Run Benchmark
      run: |
        ./benchmark/bench
